<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yazilimlab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kou_logo"
        android:label="Kou Basvuru"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YazilimLAB">
        <activity
            android:name=".StudentHomeFragment.MyAppItem"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Catogery.DgsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Catogery.CapActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Catogery.YatayGecisActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Catogery.IntibakActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Catogery.YazOkuluActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".AdminHomeActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".StudentHomeActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>